<ion-header>
  <ion-toolbar>
    <ion-title>
      @adhdamerica
    </ion-title>
    
    <h6 style="text-align:right">500 <ion-icon name="cash"><br></ion-icon></h6>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align:center;">Choose an Avatar</h1>

  <ion-slides pager="true" style="max-width: 100%; max-height: 100%;">

    <ion-slide>
      <ion-card>
        <ion-card-title>
          <h1>Astro Chip</h1>
        </ion-card-title>
        <ion-img src="assets/Astro1.jpg" class="img"></ion-img>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-title>
          <h1>Astro Andy</h1>
        </ion-card-title>
        <ion-img src="assets/Astro1.jpeg" class="img"></ion-img>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-title>
          <h1>Astro Ann</h1>
        </ion-card-title>
        <ion-img src="assets/girlAstro.jpg" class="img"></ion-img>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-title>
          <h1>Astro Robo</h1>
        </ion-card-title>
        <ion-img src="assets/astro2.jpg" class="img"></ion-img>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-title>
          <h1>Astro Felix</h1>
        </ion-card-title>
        <ion-img src="assets/kidAstro.jpg" class="img"></ion-img>
      </ion-card>
    </ion-slide>

  </ion-slides>


<ion-row padding>
  <ion-col>
    <ion-button expand="block" (click)="purBtn">Purchase</ion-button>
  </ion-col>
</ion-row>

</ion-content>