.img {
    position: relative;
    width: 300px;
    height: 300px;
    opacity: 0.5;
}



.button {
    position: inline-block;
    top: 5px;
    left: 0%;
    right: 0%;
    text-align: center;
    padding-bottom: 0px;
    
}




